# Build results
bin/
obj/
*.dll
*.exe

# Visual Studio files
*.user
*.suo
.vscode/

# Others
*.log
*.tmp
frontend/node_modules/
frontend/node_modules/
frontend/node_modules/
frontend/node_modules/.cache/
